.bg {
  display: flex;
  flex-direction: row;
  height:600px;
  padding: 10px 10%;
}
.text {
  width: 50%;
  margin-top: 10%;
}
.bgImage {
  width: 50%;
}


.mainText {
  font-family: "Arvo", serif;
  font-weight: 900;
  font-size: 50px;
  color: #474747;
  margin-left: 10%;
}

.para {
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  text-align: justify;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  margin-left: 10%;
  margin-right: 60px;
}
.btnDiv {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}
.startedBtn {
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  margin-right: 20px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: 0;
  color: white;
  font-weight: 500;
  background-color: darkorange;
  cursor: pointer;
}
.startedBtn2 {
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  width: 205px;
  height: 50px;
  border-radius: 30px;
  border: 1;
  border-color: darkorange;
  border-style: solid;
  color: darkorange;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
}
.startedBtn3 {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  border: 1;
  border-color: darkorange;
  border-style: solid;
  color: darkorange;
  background-color: white;
  margin-left: 29px;
}
.textLoc {
  margin-left: 15px;
}

.backgroundImage {
  margin-left: 50px;
  cursor: pointer;
  transition: 0.7s;
}
.backgroundImage:hover{
    transform: rotate(20deg);
}