.top{
    width: 100%;
    height: 100px;
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}
.logo{
    width: 185px;
    height: 50px;
    padding: 10px;
}
.logoside{
    width: 185px;
    height: 50px;
    padding: 0px;
}
.menuIcon{
    color: #666;
    padding: 20px;
    padding-top: 10px;
    visibility:hidden;
    width: 10px;
    height: 10px;
}
.topLeft{ 
    padding: 5px;
    display: flex;
    float: left;
    width: 260px;
}
.topL-L{
    width: 10%;
    height: 80px;
    padding: 20px;
    padding-top: 55px;
}
.topL-R{
    width: 90%;
    height: 80px;
}
.topLeft,.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCenter{
    flex: 6;
    display: flex;
}
.topSearchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
    padding-right: 30px;
}
.topList, .login, .sign-up-btn{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}
.topListItem, .loginText, .sign-up-btn{
    margin-right: 20px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    color: #444;
}
.topListside{
    display: list-item;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}
.topListItemside{
    margin-right: 20px;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    color: #444;
}
.sign-up-btn{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border-style: none;
    padding: 5px;
    background-color:darkorange;
    color: white;
}
a{
    text-decoration: none;
}

/* -------------------- Hover Effects ----------------------- */
.sign-up-btn:hover{
    position: relative;
    top: -4px;
}

.topListItem:hover, .loginText:hover, .topListItemside:hover{
    text-decoration: underline;
    color: darkorange;
}


/* -------------------- responsive ----------------------- */
@media (max-width: 600px){
    .topCenter{
        display: none;
    }
    .menuIcon{
        visibility: visible;
        padding-right: 250px;
        padding-top: 10px;
    }
}
@media (max-width: 800px){
    .topCenter{
        display: none;
    }
    .menuIcon{
        visibility: visible;
        padding-right: 250px;
        padding-top: 10px;
    }
}
@media (min-width: 320px){
    .topSearchIcon{
        font-size: 15px;
    }
}

